<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/stylesheets/rankings.css">
            <link rel='stylesheet' href='/box-shadows.min.css'>



            
        </head>

    <body>


            <header>
                    <h1>STATE RANKINGS - CRIME</h1>
                    <P>See how states rank when it comes to crimes - overall or by year</P>
            </header>

            <section>

                <div id='selectWrapper'>
                    <div id='yearSelector'>

                            <label for="id-select">Choose a year:</label>


                            <select name= 'year' id='state-select1'>
                                    <option value="All years (2001-2011)">All years (2001-2011)</option>

                                    <option value="2001">2001</option>
            
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>

    
                            </select>

                    </div>
                    <div id = 'categorySelector'>


                            <label for="id-select2">Choose a category:</label>


                            <select name= 'category' id='state-select2'>
                                    <option value="Rape">Crime Stats</option>
            
                                    <option value="Murder">Crimes Against Children</option>
                                    <option value="Theft">Crimes Against Women</option>
                
    
                            </select>
                        
                    </div>
                </div>

                <div id = 'charts'>

                    <canvas id="myChart1"></canvas>

                    <label id ='crimeChooseLabel' for="id-select">Choose a crime:</label>


                    <select name= 'states' id='state-select'>
                            <option value="Rape">Rape</option>
    
                            <option value="Murder">Murder</option>
                            <option value="Theft">Theft</option>
                            <option value="Cheating">Cheating</option>
                            <option value="Pooping">Pooping</option>

                    </select>

                    <canvas id="myChart2"></canvas>



                </div>


            </section>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
            <script src="/scripts/rankingsLogic.js"></script>
        
    </body>

</html>
